[submodule "Crane/vendor/spdlog"]
	path = Crane/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
	branch = master
[submodule "Crane/vendor/imgui"]
	path = Crane/vendor/imgui
	url = git@github.com:benfc1993/imgui.git
	branch = docking
[submodule "Crane/vendor/glm"]
	path = Crane/vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "Crane/vendor/yaml-cpp"]
	path = Crane/vendor/yaml-cpp
	url = git@github.com:benfc1993/yaml-cpp.git
[submodule "Crane/vendor/ImGuizmo"]
	path = Crane/vendor/ImGuizmo
	url = git@github.com:benfc1993/ImGuizmo.git
[submodule "Crane/vendor/Box2D"]
	path = Crane/vendor/Box2D
	url = git@github.com:benfc1993/Box2D.git
[submodule "Crane/vendor/GLFW"]
	path = Crane/vendor/GLFW
	url = git@github.com:benfc1993/glfw.git
